body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'pixel';
    src: url('fonts/PublicPixel-z84yD.ttf') format('truetype');
}
  

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
    background-image: url("Images/bg_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s;
}

.title-card{
    padding: 15px 25px;
    text-align: center;
    background-color: rgb(54, 16, 91);
    border-radius: 10px;
    border: 4px dashed yellow;
    color: yellow;
    text-shadow: 1px 1px 1px rgb(67, 67, 2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'pixel', Arial, sans-serif;
    font-weight: normal;
}

h1{
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.title-card > .item {
    margin: 15px 25px;
}

.title-card > button {
    padding: 10px 15px;
    border-radius: 5px;
    border: white 2px solid;
    background-color: purple;
    color: yellow;
    font-family: 'pixel', Arial, sans-serif;
    cursor: pointer;
}