body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("Images/bg_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title-card{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
}

h1,h3 {
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
}
