body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'pixel';
    src: url('fonts/PublicPixel-z84yD.ttf') format('truetype');
}
  

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-image: url("Images/bg_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'pixel', Arial, sans-serif;
}

.title-card2 {
    position: absolute;
    bottom: 50vh;
    right: 50vw;
    transform: translate(50%, 50%);
}

.title-card {
    padding: 15px 25px;
    text-align: center;
    background-color: rgb(54, 16, 91);
    border-radius: 10px;
    border: 4px dashed yellow;
    color: yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: normal;
    box-shadow:inset -8px 8px 2px rgb(30, 9, 50);
}

.title-card > h1 {
    font-size: 30px;
    text-shadow: -5px 5px rgb(67, 67, 2);
}

.title-card > h3 {
    font-size: 20px;
    text-shadow: -5px 4px rgb(67, 67, 2);
}

.title-card > .item {
    margin: 15px 25px;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: white 2px solid;
    background-color: purple;
    color: yellow;
    font-family: 'pixel', Arial, sans-serif;
    cursor: pointer;
    box-shadow: inset -2px 2px rgb(30, 9, 50),-4px 5px rgb(30, 9, 50);
    transition: 0.1s;
}

button:hover {
    background-color: rgb(54, 16, 91);
    color: white;
    box-shadow: inset -2px 2px rgb(30, 9, 50),-4px 5px rgb(30, 9, 50);
}

.footer {
    background-color: rgba(6, 0, 0, 0.574);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    text-align: center;
    color: antiquewhite;
    font-size: small;
}

.footer > a {
    padding: 5px 0;
    color: yellow;
}

.game-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 25px;
    background-color: rgb(54, 16, 91);
    border-radius: 10px;
    border: 4px dashed yellow;
    color: yellow;
    font-family: 'pixel', Arial, sans-serif;
    transition: all 0.2s ease;
    box-shadow:inset -8px 8px 2px rgb(30, 9, 50);
}

.card{
    text-align: center;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dotted rgb(250, 250, 249);
    border-spacing: 3px;
    background-color: rgb(109,33,183);
    box-shadow: inset 4px -4px 0px rgb(69, 1, 26);
    padding: 10px 10px;
    border-radius: 10px;
    white-space: pre-wrap;
    margin: 10px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.textbox {
    position: absolute;
    top:  50vh;
    left: 50vw;
    overflow-wrap: break-word;
    transform: translate(-50%, -50%);
    padding: 15px 25px;
    text-align: center;
    text-justify: auto ;
    background-color: rgb(54, 16, 91);
    border-radius: 10px;
    border: 4px dashed yellow;
    color: yellow;
    font-family: 'pixel', Arial, sans-serif;
    transition: all 0.2s ease;
    box-shadow:inset -8px 8px 2px rgb(30, 9, 50);
}

.blur {
    filter: blur(5px);
}